#header {
  margin-top:10px;
  margin-bottom:10px;
  position:relative;
}

#header-logo {
  float:left;
}

#header-text {
  color:#999999;
  position:absolute;
  bottom:0;
}

.dashboard-widget {
  margin-top:10px;
  margin-bottom:10px;
}