<html>
<head>
  <script type="text/javascript" src="{{ static_url("js/jquery-1.4.2.min.js") }}"></script>
  <script type="text/javascript" src="{{ static_url("js/jquery.tipsy.js") }}"></script>
  <script type="text/javascript" src="{{ static_url("js/protovis-d3.2.js") }}"></script
  <script type="text/javascript" src="{{ static_url("js/pv.tipsy.js") }}"></script>
  <link href="{{ static_url("css/tipsy.css") }}" type="text/css" rel="stylesheet"/>
</head>
<body>
  <!-- Google Analytics -->
  <div id="ga">
    <h1>Cloudera.com Page Views</h1>
    <script type="text/javascript+protovis">
var yvals = {{ ga_data }},
    data = pv.range(yvals.length).map(function(x) {
        return {x: x, y: yvals[x]};
      }),
    w = 200,
    h = 100,
    x = pv.Scale.linear(data, function(d) d.x).range(0, w),
    y = pv.Scale.linear(0, pv.max(yvals) * 1.1).range(0, h);

var vis = new pv.Panel()
    .width(w)
    .height(h)
    .bottom(20)
    .left(30)
    .right(10)
    .top(5);

vis.add(pv.Rule)
    .data(y.ticks())
    .visible(function() !(this.index % 2))
    .bottom(function(d) Math.round(y(d)) - .5)
    .strokeStyle("#eee")
  .anchor("left").add(pv.Label)
    .text(function(d) d.toFixed());

vis.add(pv.Rule)
    .data(x.ticks())
    .visible(function(d) d > 0)
    .left(function(d) Math.round(x(d)) - .5)
    .strokeStyle("#eee")
  .anchor("bottom").add(pv.Label)
    .text(function(d) d.toFixed());

vis.add(pv.Line)
    .data(data)
    .left(function(d) x(d.x))
    .bottom(function(d) y(d.y))
    .lineWidth(3);

vis.render();
    </script>
  </div>

  <!-- Bit.ly -->
  <div id="bitly">
    <h1>Popular Bit.ly Links</h1>
    <script type="text/javascript+protovis">
var bitly_data = {{ bitly_data }};
var clicks = [bitly_data[i].clicks for (i in bitly_data)];

/* Sizing and scales. */
var w = 200,
    h = 125,
    x = pv.Scale.linear(0, pv.max(clicks) * 1.1).range(0, w),
    y = pv.Scale.ordinal(pv.range(clicks.length)).splitBanded(0, h, 4/5);

/* The root panel. */
var vis = new pv.Panel()
    .width(w)
    .height(h)
    .bottom(20)
    .left(20)
    .right(10)
    .top(5);

/* The bars. */
var bar = vis.add(pv.Bar)
    .data(clicks)
    .top(function() y(this.index))
    .height(y.range().band)
    .left(0)
    .width(x)
    .text(function() bitly_data[this.index].link)
    .event("click", function() document.location.href = bitly_data[this.index].link);

//  Tooltip not working with links for some reason
//  .event("mouseover", pv.Behavior.tipsy({gravity: "w", fade: true}));

/* The value label. */
bar.anchor("right").add(pv.Label)
    .textStyle("white");

vis.render();

    </script>
    {% for links in bitly_data %}
      {% include "link.html" %}
    {% end %}  
  </div>

  <!-- Slideshare -->
  <div id="slideshare">
    <h1>Popular Slideshare Slideshows</h1>
    {% for slideshow in ss_data %}
      {% include "slideshow.html" %}
    {% end %}  
  </div>

  <!-- Twitter -->
  <div id="twitter">
    <h1>Twitter Mentions</h1>
    {% for mention in twitter_data %}
      {% include "mention.html" %}
    {% end %}  
  </div>

  <!-- Zendesk -->
  <div id="zendesk">
    <h1>Popular Knowledge Base Entries</h1>
    {% for entry in zd_data %}
      {% include "zd_forum_entry.html" %}
    {% end %}  
  </div>

  <!-- JIRA -->
  <div id="jira">
    <h1>Recently Updated JIRA Issues</h1>
    {% for issue in jira_data %}
      {% include "jira_issue.html" %}
    {% end %}  
  </div>
</body>
