<html>
<head>
  <link rel="stylesheet" href="{{ static_url("css/blueprint/screen.css") }}" type="text/css" media="screen, projection">
  <link rel="stylesheet" href="{{ static_url("css/blueprint/print.css") }}" type="text/css" media="print">
  <!--[if lt IE 8]><link rel="stylesheet" href="{{ static_url("css/blueprint/ie.css") }}" type="text/css" media="screen, projection"><![endif]-->
  <script type="text/javascript" src="{{ static_url("js/jquery-1.4.2.min.js") }}"></script>
  <script type="text/javascript" src="{{ static_url("js/jquery.tipsy.js") }}"></script>
  <script type="text/javascript" src="{{ static_url("js/protovis-d3.2.js") }}"></script
  <script type="text/javascript" src="{{ static_url("js/pv.tipsy.js") }}"></script>
  <link href="{{ static_url("css/tipsy.css") }}" type="text/css" rel="stylesheet"/>
  <link rel="stylesheet" href="{{ static_url("css/dashboard.css") }}" type="text/css">
</head>
<body>
  <!-- Container for Blueprint Grid -->
  <div class="container">

    <!-- Header -->
    <div class="span-24 last" id="header">
      <img id="header-logo" src="{{ static_url("img/logo.gif") }}" />
      <h3 id="header-text">Dogfood Dashboard</h3>
    </div>
    <hr />

    <!-- Row 1 -->
    <!-- Google Analytics -->
    <div class="span-8" id="header">
      <div class="dashboard-widget" id="ga">
        <h3>Cloudera.com Page Views</h3>
        <script type="text/javascript+protovis">
var yvals = {{ ga_data }},
    data = pv.range(yvals.length).map(function(x) {
        return {x: x, y: yvals[x]};
      }),
    w = 200,
    h = 100,
    x = pv.Scale.linear(data, function(d) d.x).range(0, w),
    y = pv.Scale.linear(0, pv.max(yvals) * 1.1).range(0, h);

var vis = new pv.Panel()
    .width(w)
    .height(h)
    .bottom(20)
    .left(30)
    .right(10)
    .top(5);

vis.add(pv.Rule)
    .data(y.ticks())
    .visible(function() !(this.index % 2))
    .bottom(function(d) Math.round(y(d)) - .5)
    .strokeStyle("#eee")
  .anchor("left").add(pv.Label)
    .text(function(d) d.toFixed());

vis.add(pv.Rule)
    .data(x.ticks())
    .visible(function(d) d > 0)
    .left(function(d) Math.round(x(d)) - .5)
    .strokeStyle("#eee")
  .anchor("bottom").add(pv.Label)
    .text(function(d) d.toFixed());

vis.add(pv.Line)
    .data(data)
    .left(function(d) x(d.x))
    .bottom(function(d) y(d.y))
    .lineWidth(3);

vis.render();
        </script>
      </div>
    </div>

    <!-- Bit.ly -->
    <div class="span-8">
      <div class="dashboard-widget" id="bitly">
        <h3>Popular Bit.ly Links</h3>
        <script type="text/javascript+protovis">
var bitly_data = {{ bitly_data }};
var clicks = [bitly_data[i].clicks for (i in bitly_data)];

/* Sizing and scales. */
var w = 200,
    h = 125,
    x = pv.Scale.linear(0, pv.max(clicks) * 1.1).range(0, w),
    y = pv.Scale.ordinal(pv.range(clicks.length)).splitBanded(0, h, 4/5);

/* The root panel. */
var vis = new pv.Panel()
    .width(w)
    .height(h)
    .bottom(20)
    .left(20)
    .right(10)
    .top(5);

/* The bars. */
var bar = vis.add(pv.Bar)
    .data(clicks)
    .top(function() y(this.index))
    .height(y.range().band)
    .left(0)
    .width(x)
    .text(function() bitly_data[this.index].link)
    .event("click", function() document.location.href = bitly_data[this.index].link);

//  Tooltip not working with links for some reason
//  .event("mouseover", pv.Behavior.tipsy({gravity: "w", fade: true}));

/* The value label. */
bar.anchor("right").add(pv.Label)
    .textStyle("white");

vis.render();
        </script>
        {% for links in bitly_data %}
          {% include "link.html" %}
        {% end %}
      </div>
    </div>

    <!-- Slideshare -->
    <div class="span-8 last">
      <div class="dashboard-widget" id="slideshare">
        <h3>Popular Slideshare Slideshows</h3>
        {% for slideshow in ss_data %}
          {% include "slideshow.html" %}
        {% end %}  
      </div>
    </div>

  <!-- Row 2 -->
    <!-- Twitter -->
    <div class="span-8">
      <div class="dashboard-widget" id="twitter">
        <h3>Twitter Mentions</h3>
        {% for mention in twitter_data %}
          {% include "mention.html" %}
        {% end %}  
      </div>
    </div>

    <!-- Zendesk -->
    <div class="span-8">
      <div class="dashboard-widget" id="zendesk">
        <h3>Popular Knowledge Base Entries</h3>
        {% for entry in zd_data %}
          {% include "zd_forum_entry.html" %}
        {% end %}  
      </div>
    </div>

    <!-- JIRA -->
    <div class="span-8 last">
      <div class="dashboard-widget" id="jira">
        <h3>Recently Updated JIRA Issues</h3>
        {% for issue in jira_data %}
          {% include "jira_issue.html" %}
        {% end %}  
      </div>
    </div>

  <!-- Row 3 -->
    <!-- Get Satisfaction -->
    <div class="span-8">
      <div class="dashboard-widget" id="gs">
        <h3>Recently Updated Get Satisfaction Topics</h3>
        {% for topic in gs_data %}
          {% include "gs_topic.html" %}
        {% end %}  
      </div>
    </div>

    <!-- empty -->
    <div class="span-16 last">
      <div class="dashboard-widget">
      </div>
    </div>
  </div>
</body>
